target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar


target/zeno/WEB-INF/lib/spring-aop-4.3.9.RELEASE.jar
*.jar
*.jar
target/zeno/WEB-INF/lib/javax.inject-1.jar
*.jar
