/* CSS for billPaymentImage starts here*/

.paddingLeftTop
{
	padding-left: 3.8%;
}

@media (max-width : 730px) 
{
	.paddingLeftTop
	{
		padding-left: 2.8%;
	}
}

/* Navigation bar customization*/
.header-navigation ul > li.active > a {
    border-bottom: 2px solid #F44336;
    background-color: unset;
}
.header-navigation > ul > li > a {

   
    display: block;
    padding: 33px 12px 4px;
    margin-right: 5px;

}
.header-navigation > ul > li > a:hover {

   
    display: block;
   background-color: unset;
	border-bottom: 2px solid #F44336;
}
.header{
	box-shadow: unset;
}
.header .row {
    
   margin-left: 5%;
   margin-right: 5%;
   
}



.billPaymentImage
{
	 background-image: url('img/blue_small.png');
	 background-repeat:no-repeat;
}

.paymentImageSize
{
	max-width: 60px;
	max-height: 90px;
}

@media (max-width : 480px) 
{
	.billPaymentImage
	{
	 background-image: url('corporate/img/back1.png');
	 background-repeat:no-repeat;
	}
}/*
@media ( max-width : 790px) 
{
	.billPaymentImage
	{
	 background-image: url('corporate/img/back3.png');
	 background-repeat:no-repeat;
	}
}
@media ( max-width : 980px) 
{
	.billPaymentImage
	{
	 background-image: url('corporate/img/back.png');
	 background-repeat:no-repeat;
	}
}*/

/* CSS for billPaymentImage ends here*/

/* input text*/
input[type=text] ,input[type=password]{
	padding: 0;
	height: 30px;
	width: 100%;
	position: relative;
	left: 0;
	outline: none;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 0.5px solid #bdc3c7;
	background-color: white;
	font-size: 16px;
}

/*Checkboxes styles*/
input[type="checkbox"] {
	display: none;
}


/* Site logo*/
.site-logo {
	padding: unset;
}

.site-logo img {
	width: 100px;
	height: 70px;
	margin: 10px;
	margin-left:unset;
}
hr{
margin-top: 10px;
margin-bottom: 15px;
}
input[type="checkbox"]+label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 1px;
	font: 12px/14px;
	color: #010745;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	padding-bottom: 20px;
}

input[type="checkbox"]+label:last-child {
	margin-bottom: 0;
}

input[type="checkbox"]+label:before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border: 1.2px solid #010745;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .6;
	-webkit-transition: all .12s, border-color .08s;
	transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked+label:before {
	width: 10px;
	top: -5px;
	left: 5px;
	border-radius: 0;
	opacity: 1;
	border-top-color: transparent;
	border-left-color: transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

body {
	font-family: Roboto;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	background-color: white;
}

.firstRow {
	min-height: 116px;
	color: white;
}

h1 {
	font-family: Roboto;

	font-size: 36px;
	line-height: 34px;
	letter-spacing: 0.8px;
	-webkit-margin-before: 0.8em;
	-webkit-margin-start: 1em;
	-webkit-margin-end: 0px;
	margin: unset;
	padding-top: 25px;
}


h2, .font-h2
{

	font-family: Roboto;
	font-size: 30px;
	line-height: 34px;
	letter-spacing: 0.5px;
}

h3, .font-h3{
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0;
	
	-webkit-margin-before: 0.25em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

h4, .font-h4 {
	font-size: 17px;
	line-height: 24px;
	
	margin: 0 0 5px;
}

h5 , .font-h5{
	font-size: 12px;
	line-height: 20px;
	
	margin: 0 0 5px;
}

p {
	
}

a {
	color: #e40000;
	cursor: pointer;
	white-space: nowrap;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
}

/* footer format*/
.footer a, .footer {
	text-decoration: none;
	color: black;
}
.footer{
	background-color: white;
}

.pb-40 {
	padding-bottom: 40px;
}
.pb-50 {
	padding-bottom: 50px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-20 {
	padding-bottom: 20px;
}
.pb-10 {
	padding-bottom: 10px;
}

.pt-10{
	padding-top: 10px;
}
.pt-20{
	padding-top:20px;
}
.pt-30{
	padding-top: 30px;
}
.pt-40{
	padding-top: 40px;
}
.ml-4
{
	margin-left: 4%;
}

label {
	font-weight: 300;
}

.div2{
	border: 1px solid #686060;
}

/*end*/
.modal-header {
	padding: unset;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 4%;
	padding-right: 8%;
	border-bottom: 1px solid #e5e5e5;
	text-align: left;
	background-color: #2980b9;
}

.modal-dialog {
	min-width: 350px;
	max-width: 350px;
	margin: auto;
	margin-top: 10%;
}

.modal-content {
	min-height: 300px;
	max-height: 300px;
	border-radius: unset;
}

/*Modal css ends here*/

/*Circle css starts here*/
.circle1 {
	background-color: #2980b9;
	color: #ecf0f1;
	border-radius: 50%;
	padding: 2px;
	margin: 5%;
	text-align: center;
	text-decoration: none !important;
	line-height: .5;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.circle2 {
	background-color: #e74c3c;
	color: #ecf0f1;
	border-radius: 50%;
	padding: 2px;
	margin: 5%;
	text-align: center;
	text-decoration: none !important;
	line-height: .5;
}
/*Circle css ends here*/

/* Floating css starts from here */
/* Floating Icons */
.fixedBlock {
	position: fixed;
	top: 53%;
	right: -2%;
	padding: 0;
	list-style: none;
	z-index: 99;
	width: 10%;
}

.fixedBlock li a {
	display: block;
}

.fixedBlock li a {
	display: block;
	width: 80%;
	padding: 8px;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	-o-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
}

/*.fixedBlock li:hover .currentPlanBlock {color: #c0392b ;}*/
.currentPlanBlock:hover {
	background-color: #D91E18;
	text-decoration: none;
}

.topUpBlock:hover {
	background-color: #D91E18;
	text-decoration: none;
}

.currentPlanBlock {
	background-color: #e74c3c;
	text-decoration: none;
}

.topUpBlock {
	background-color: #e74c3c;
	text-decoration: none;
	border-bottom: 0.5px solid #ecf0f1;
}

.textCSS {
	font-size: 15px;
	text-align: center;
	color: #ecf0f1;
	text-decoration: none !important;
}

/* Floating css ends from here */
.billPayment {
	color: white;
}

.greyBlock {
	background-color: #bdc3c7;
}

/* 3 blocks start here */
.col-md-4 {
	padding-left: 1px;
	padding-right: 1px;
}

.mainBlock3 {
	max-width: 100%;
    color: white;
    margin-top: 5%;
    padding: 2% 4%;
    padding-bottom: 2%;
    min-height: 250px;
    margin-bottom: 15%;
}

.mainBlock4 {
	max-width: 92%;
	color: white;
	margin-top: 10%;
	padding: 2% 7%;
	padding-bottom: 2%;
	min-height: 280px;
	max-height: 40%;
}
/* 3 blocks End here */
.firstRowBackImage {
	min-height: 90px;
	background-image: url('corporate/img/back.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.progress {
	height: 25px;
	
	margin: unset;
	overflow: hidden;
	border-radius: 1px;
	background-color: #f5f5f5;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	overflow: hidden;
}

.progressbarColor {
	background-color: #7f8c8d;
	height: 100%;
}

.whiteShadow {
	/*text-shadow: 0.2px 0.2px white;*/
	
}

.blackShadow {
	text-shadow: 0.2px 0.2px black;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-top:10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.billButton 
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-radius: 0px;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    background-color: #F44336;
    border-color: #F44336;
    color: white;
}


.btn:hover{
	text-decoration: none;
	color: white;
}
.tableWidth {
	width: 45%;
}

.submitButton {
	margin-top: 10%;
	margin-bottom: 10%;
	font-size: 16px;
	width: 60%;
	height: 5%;
	background-color: #2980b9;
	color: #FFF;
	border: 0.1px solid #2980b9;
	text-shadow: 0.2px 0.2px white;
}
/* iphone 6 plus*/
@media ( max-width : 530px) 
{
	.mainBlock3 {
		width: 88%;
		min-height: 40%;
		margin: 5%;
	}

	.tableWidth {
    width: 100%;
	}
	.mb-pt-30
	{	
		padding-top:30px;
	}
	.mainBlock4
	{
		min-width: 100%;
	}	

}

/* iphone 5*/
@media ( max-width : 320px) {
	.currentBillFontforiPhone5 {
		font-size: 26px;
		margin-left: 4px;
	}
	.mainBlock3 {
		width: 88%;
		min-height: 45%;
		margin: 5%;
	}
	.tableWidth {
    width: 100%;
	}
	.mb-pt-30
	{	
		padding-top:30px;
	}
}

/* iPad*/

@media ( max-width : 950px) {
	

	.mainBlock3 {
		width: 88%;
		min-height: 30%;
		margin: 5%;
	}
	.tableWidth {
    width: 100%;
	}
	.mb-pt-30
	{	
		padding-top:30px;
	}
	
}
/* iphone 6 plus*/
@media ( max-width : 480px) 
{
	.fixedBlock {
		min-width: 16%;
		min-height:100px;
		right: 1% !important;
	}
	h1{
		font-size: 30px;
	}
	.fixedBlock li a 
	{
		width: 105%;
		min-height: 50px;
	}
	.textCSS {
		font-size: 12px;
		word-wrap: break-word;
		float: left;
	}
	.tableWidth {
    width: 100%;
	}
	.mb-pt-30
	{	
		padding-top:30px;
	}
}

/*Floating button*/
#floating-button{

    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #F44336;
    position: fixed;
    top: 260px;
    right: 40px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
}
.fv
{
	color:white;
	text-align:center;
	font-size: 12px;
	line-height: 5px;
	letter-spacing: 0;
	-webkit-margin-before: 0.25em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
#floating-button1{

    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #ffb81c;
    position: fixed;
    top: 330px;
    right: 40px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
}


#floating-buttongray{

    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #9cafad;
    position: fixed;
    top: 160px;
    right: 40px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
}
.plus{
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 8px;
    font-size: 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
}

